<launch>

    <rosparam command="load" file="$(find asb_control)/config/teleop_ps4.yaml" />

    <node pkg="joy" type="joy_node" name="joy_node" />

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
        <remap from="/cmd_vel" to="/asb_velocity_controller/cmd_vel"/>
    </node>
 
</launch>
